<div class="mt-3 container">

    <h3 class="text-center mb-3">Manage Candidates</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">University</th>
                <th scope="col">Post</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let candidate of candidates">
                <td>{{candidate.name}}</td>
                <td>{{candidate.university}}</td>
                <td>{{candidate.position}}</td>
                <td>
                    <button *ngIf="candidate.status=='PENDING' || candidate.status=='REJECTED'" type="button" (click)="approve(candidate)" class="btn btn-success btn-sm"><i class="fa fa-check"></i> APPROVE</button>
                    <button *ngIf="candidate.status=='APPROVED'" type="button" (click)="suspend(candidate)" class="btn btn-danger btn-sm"> <i class="fa fa-times"></i> SUSPEND</button>
                    <button *ngIf="candidate.status=='PENDING'" type="button" (click)="reject(candidate)" class="btn btn-warning btn-sm mx-3"><i class="fa fa-times"></i> REJECT</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
