<div class="container mt-4 shadow col-md-6 offset-md-3 p-5">

    <form [formGroup]="userData" (ngSubmit)="register()">

        <h3 class="text-center mb-3">REGISTER</h3>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input formControlName="phoneNumber" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Admission Number</label>
            <input formControlName="admissionNumber" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">University</label>
            <select formControlName="universityName" class="form-select">
                <option *ngFor="let university of universities" value="{{university.code}}">{{university.name}}</option>
            </select>
        </div>

        <a [routerLink]="['/login']">Already have an account? Login</a>
        <button type="submit" class="btn btn-success btn-sm float-end">REGISTER</button>

    </form>

    <swal #confirmRegister title="Successfully Registered" text="Your account was successfully registered"
        icon="success" [timer]="1500" position='top-end'></swal>

</div>